.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#root {
  background-color: #042b32;
}
.navbar-brand {
  color: white;
  
}
a:hover {
  color: orange;
  
}
.btn {
  background-color: #ffb960;
  color: #11222b;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;
  will-change: transform;
  font-family: Rubik, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  text-transform: capitalize;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.game-description {
  line-height: 18px;
  padding-right: 4px;
  color: #e5e5e5;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: capitalize;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-weight: 500;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  width: 150px;
  margin-left: 6px;
}

.card {
  border-radius: 8px;
  height: 100%;
  max-width: 100%;
  width: 100%;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.card-img-top {
  border-radius: 8px;
  height: 100%;
  max-width: 100%;
  width: 100%;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  scroll-behavior: smooth;
}
.games:hover {
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  transform: scale(0.9);
}
.category {
  padding: 6px 14px 6px 10px;
  height: 37px;
  color: #fff;
  background-color: #4e7981;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 700;
  width: 210px;
  box-shadow: inset 0 0 0 1px transparent;
 
}

.slick-slide {
  
  text-align:center;
  margin-right:15px;
  margin-left:15px;
  margin-top: 50px ;
}
.slick-slider {
  margin-right:30px;
  margin-left:30px;
}
.slick-arrow {
  top : 40%  !important
}
.slick-next {
  top : 40%
}
.wallet {
  margin-left: 950px;
}